<launch>

<!--include file="$(find turtlebot_bringup)/launch/minimal.launch"/-->
<!--include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/-->
<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node"/>


<node pkg="b39vt_assignment" type="object_avoidance" name="object_avoidance" output="screen"/>
<!--node pkg="b39vt_assignment" type="image_subscriber" name="image_subscriber" output="screen"/-->

<node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server"/>
<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping"/>
<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 1 base_link laser 100" />
<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 1 odom base_link 100" />


<node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
    <remap from="map" to="/dynamic_map" />
    <param name="map_file_path" type="string" value="$(find hector_geotiff)/maps" />
    <param name="map_file_base_name" type="string" value="hector_slam_map" />
    <param name="geotiff_save_period" type="double" value="0" />
    <param name="draw_background_checkerboard" type="bool" value="true" />
    <param name="draw_free_space_grid" type="bool" value="true" />
    <param name="plugins" type="string" value= "hector_geotiff_plugins/TrajectoryMapWriter"/>
    <!--this is where we could add things to geotiff-->
 </node>


</launch>


